/* About Us */

.aboutUs{
  background-color: rgba(215, 221, 221, 0.77);
}
.aboutUs .row{
  margin: 5rem 1rem;
}
.aboutUs .row .col1{
  width: 40%;
  margin-right: 3rem;
}
.aboutUs .row .col2 .box img{
  width: 70px;
  margin-bottom: -10%;
}
.aboutUs .row .col2 .box{
  margin-bottom: 2rem;
}