/* Book Aircraft */

.bookAircraft .content{
  padding: 5%;
}
.bookAircraft input{
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 20px;
  position: relative;
  margin-bottom: .9rem;
  width: 12rem;
}
