/* Footer */
.footer{
  background-color: black;
  color: white;
  padding: 5% 5% 0%;
}
.footer .row1{
  display: flex;
}
.footer .row1 .socialMedia{
  position: absolute;
  right: 0%;
  margin-top: .5rem;
  margin-right: 2rem;
  text-align: right;
}
.footer a{
  color: rgb(186, 183, 183);
}
.footer .row3{
  margin-bottom: 0%;
  padding-bottom: 2%;
}



/* Tablet */
@media only screen and (min-width: 768px) {  
  .footer .row1 .box{
    width: 50%;
  }
  .footer .row1 .socialMedia{
    text-align: right;
    margin-right: 3rem;
  }
  .footer .row2 {
    display: flex;
    flex-direction: row;
    line-height: 170%;
  }
  .footer .row2 .box{
    margin-right: auto;
    width: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  .footer{
    max-width: 1800px;
    margin: auto;
    border: .5px solid rgb(236, 234, 234);
    position: relative;
  }
}