
/* Body Component */
 button{
  font-family: MuseoModerno;
  padding: .7rem;
  border-radius: 10px;
  border: none;
  animation-name: changingColors;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}
/* Mission */
.mission{
  margin-top: 10rem;
}
.mission .col h1{
  line-height: 120%;
}
.mission .col .box{
  border-top: 1px solid black;
}
.mission .col .box p{
  color: rgb(80, 76, 76);
  animation-name: textDrop;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.mission h1, .mission h4, .mission p{
  animation-name: textDrop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 2s;
}

/* Services */
.services .box{
  height: 20rem;
}
.services .flexServices{
  background-color: rgb(21,22,35);
  color: white;
  padding: 5%;
  height: fit-content;
}
.services .onDemand{
  background-image: url(../images/privatejet.png);
  background-size:100% 100%;
  padding: 50% 5% 0%;
  background-repeat: no-repeat;
  color: white;
  font-weight: 900;
}
.services .sharedFlight{
  color: white;
  background-image: url(../images/SharedFlight.png);
  padding: 5%;
  background-size: 100%;
  background-color: rgb(188,113,85);
  background-repeat: no-repeat;
}
.services h2, .services h4, .services p{
  animation-name: textDrop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 2.5s;
}

/* Destination */
.destination{
  margin-bottom: 3rem;
}
.destination .col1{
  display: none;
}
.destination .col2{
  width: 100%;
  columns: 2;
}
.destination .col2 .box{
  width: 100%;
  border-top: 1px solid rgb(155, 146, 146);
  border-bottom: 1px solid rgb(137, 134, 134);
  border-bottom-right-radius: 30px;
  margin: auto auto 1rem .3rem;
}
.destination .col2 .box h3{
  margin-bottom: 4rem;
  animation-name: textDrop;
  animation-duration: .9s;
  animation-iteration-count: 1;
}
.destination h1, .destination h3, .destination h4{
  animation-name: textDrop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 3.2s;
}


/* Mobile App */
.mobileApp{
  display: block;
}
.mobileApp .col1 img{
  height: 100%;
}
.mobileApp .col2{
  color: white;
  background-color: rgb(21,22,35);
  padding: 5%;
  text-align: justify;
}
.mobileApp h1, .mobileApp p{
  animation-name: textDrop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 4s;
}


/* Experience */
.experience img{
  max-width: 5rem;
}
.experience .row2 .col1{
  text-align: justify;
  animation-name: textDrop;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.experience .row2 .col1 button{
  display: none;
}
.experience .col2{
  margin-top: 3rem;
}
.experience .col2 .box{
  border: .5px solid rgb(241, 241, 249);
  padding: .5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.experience h3, .experience p{
  animation-name: textDrop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 5s;
}


/* bookFlight */
.bookFlight{
  background-image: linear-gradient(
    to bottom,
    white 0%,
    rgb(183, 208, 233) 20%,
    rgb(148,173,199) 100%
    );
    height: fit-content;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    animation: changingColor;
  }
  .bookFlight h1 :hover{
    font-size: 20pt;
    font-weight: 700;
    text-shadow: rgb(21,22,35);
    transition-duration: 500ms;
    cursor: grab;
  }
  .bookFlight h4{
    transition: 2000ms;
  }
  .bookFlight h1, .bookFlight h4{
    animation-name: textDrop;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: 5s;
  }


  /* Phone (L) */
@media only screen and (min-width: 425px) {
  .header .row1 .col1 h1{
    font-size: 60pt;
  }
  .header .row1 .col1 p{
    margin-top: -20%;
  }
  .header .row{
    position: absolute;
    bottom: 17%;
  }
}

@media only screen and (min-width: 737px) {
  .header .row1 .col1 p{
    margin-top: -5rem;
  }
  .header .row{
    margin: auto;
  }
  .header .btn button{
    position: relative;
    margin: 0%;
    margin-top: -24rem;
  }
  .onDemand p{
    margin-top: 0%;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {  
  .header {
    height: 190rem;
    width: 100%;
    font-weight: 900;
  }
  .header .row1 .col1 h1{
    font-size: 90pt;
  }
  .header .row1 .col1 p{
    background-color: rgba(255, 255, 255, 0.167);
  }
  .header .btn{
    position: absolute;
    bottom: 0%;
  }
  .services{
    display: flex;
  }
  .services .box{
    max-height: 19rem;
  }
  .services .flexServices p{
    margin-top: auto;
  }
  .services .onDemand{
    padding: 5% 2% 0%;
    color: black;
  }
  .services .onDemand p{
    margin: 9.3rem -1.1rem 0%;
    padding: 0% .5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.435);
  }
  .services .sharedFlight{
    background-size: 50% 80%;
    padding: 1rem;
  }
  .services .box{
    width: 33.3%;
  }
  .services .onDemand{
    background-size:100% 130%;
    color: white;
  }
  .services .sharedFlight{
    color: white;
    background-image: url(../images/SharedFlight.png);
    padding: 5%;
    background-size: 100%;
    background-color: rgb(188,113,85);
    background-repeat: no-repeat;
  }
  .destination .col2{
    columns: 3;
  }
  .experience .col2{
    display:flexbox;
    columns: 2;
  }
  .experience .col2 .box{
    height: 19rem;
  }
  .bookFlight{
    height: 100vh;
  }
  .bookFlight h1{
    font-size: 64pt;
  }
  .contact input, textarea{
    width: 30rem;
    margin: auto;
    align-content: center;
    margin-bottom: 2rem;
  }
  .footer .row1 .box{
    width: 50%;
  }
  .footer .row1 .socialMedia{
    text-align: right;
  }
  .footer .row2 {
    display: flex;
    flex-direction: row;
    line-height: 170%;
  }
  .footer .row2 .box{
    margin-right: auto;
    width: 25%;
  }
}


@media only screen and (min-width: 820px) {
  .header{
    height: 35rem;
  }
  .header .row{
    position: absolute;
    bottom: 50%;
  }
  .header .btn{
    position: absolute;
    bottom: 45%;
  }
  .services .onDemand p{
    margin-top: 8rem;
  }
  .bookFlight{
    height: 15rem;
  }
}


/* Small Laptop */
@media only screen and (min-width: 1024px) {
  .mission, .services, .destination, .mobileApp{
    margin-bottom: 5rem;
  }
  .header .row1{
    display: flex;
  }
  .header .row1 .col1{
    width: 75%;
  }
  .header .row1 .col1 h1{
    font-size: 110pt;
    margin-bottom: 7rem;
  }
  .header .col2 .links{
    display: block;
  }
  .header .row1 .col2 .links{
    margin-right: 0%;
    display: flex;
    flex-direction: row;
  }
  .header .row1 .col2 .links a{
    margin: 5% 2% 0% 0%;
    width: 6rem;
  }
  .header .col2 .icon{
    margin-top: 4rem;
  }
  .header .row{
    position: absolute;
    bottom: 10%;
  }
  .header .btn{
    position: absolute;
    right: 0%;
    bottom: 12%;
  }
  .mission .col h1{
    font-size: 39pt;
    font-family:sans-serif;
    padding-left: 40%;
    line-height: 100%;
    text-align: justify;
  }
  .mission .outer{
    padding-left: 40%;
    columns: 2;
  }
  .mission .col .box {
    height: 12rem;
    text-align: justify;
  }
  .services .box{
    min-height: 30rem;
    padding: 3%;
  }
  .services .flexServices p{
    margin-top: 15rem;
  }
  .services .onDemand p{
    margin-top: -1rem;
    background-color: rgba(240, 248, 255, 0);
  }
  .services .sharedFlight{
    padding-top: 21rem;
  }
  .destination h1{
    font-size: 50pt;
  }
  .destination .col1{
    display: block;
    width: 50%;
    float: left;
    margin-left: .1rem;
  }
  .destination .col1 img{
    height: 30rem;
  }
  .destination .col2{
    columns: 2;
    width: 49%;
    float: right;
    height: fit-content;
  }
  .destination .col2 .box{
    margin-bottom: .5rem;
  }
  .mobileApp{
    clear: both;
    float: none;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .mobileApp .col1, .mobileApp .col2{
    margin: 5rem 1rem auto auto;
    padding: 2%;
    width: 50%;
    height: 22rem;
    border-radius: 30px;
  }
  .experience .row1{
    font-size: 100pt;
    margin-bottom: 0%;
  }
  .experience .row2{
    display: flex;
    margin-right: -2rem;
  }
  .experience .row2 .col1{
    width: 33%;
  }
  .experience .row2 .col1 button{
    display: block;
  }
  .experience .row2 .col2{
    width: 55%;
    margin:auto ;
    display: flexbox;
  }
  .experience .row2 .col2 .box{
    height: 20rem;
    padding: 0%;
    margin-bottom: 4rem;
    border: none;
    text-align: justify;
  }
  .bookFlight{
    height: 60vh;
    padding: auto;
    margin: 15rem auto 0;
    font-size: x-large;
    animation-name: changingColors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
  }
}


@media only screen and (min-width: 1900px) {
  body{
    margin: auto 10%;
    border: .5px solid rgb(236, 234, 234);
  }
}