  /* NotFound */
  .notFound .content{
    padding: 5%;
    text-align: center;
  }

  /* Dark theme */
@media (prefers-color-scheme: dark) {
 .notFound{
    background-color: rgb(24, 23, 23);
    color: white;
  }
}