.solutions{
  background-color: rgb(225,226,226);
}
.row, .imgRow{
  padding: 1% 5%;
  line-height: 2;
}
.solutions img{
  border-radius: 50px 0 50px;
}

/* Small Laptop */
@media only screen and (min-width: 1024px) {
  .row, .imgRow{
    display: flex;
    flex-direction: row;
  }
  .imgRow .col1{
    width: 47%;
    margin-right: 3rem;
  }
  .imgRow .col2{
    width: 47%;
  }
  .imgRow img{
    width: 100%;
    height: 30rem;
    display: flex;
  }
 .row .col1{
  width: 70%;
 }
 .row .col2{
  width: 45%;
 }
}


/* Dark theme */
@media (prefers-color-scheme: dark) {
  .solutions{
    background-color: rgb(24, 23, 23);
    color: white;
  }
}