html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%;
}
body {
  font-family: MuseoModerno;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

img{
  width: 100%;
}

@keyframes changingColors {
  0%   {background-color: rgb(238, 217, 217);}
  25%  {background-color: rgb(234, 235, 249);}
  50%  {background-color: rgb(225, 225, 246);}
  100% {background-color: rgb(238, 232, 218);}
}
button{
  font-family: MuseoModerno;
  padding: .7rem;
  border-radius: 10px;
  border: none;
  animation-name: changingColors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}
a{
  text-decoration: none;
  color: rgb(51, 47, 47);
}

/* Components */
.header, .mission, .destination, .experience, .bookFlight, .footer {
  padding: 5%;
}

/* App */
.app{
  max-width: 1900px;
  overflow-x: hidden;
}

/* Header */
.header {
  background-image: url(./images/download.png);
  background-repeat: no-repeat;
  height: fit-content;
}
.header .row1 .col1{
  width: 50%;
}
.header .row1 .col2 .links{
  display: none;
  display: flex;
  flex-direction: row;
  width: 25%;
}
.header .row1 .col2 .links a{
  margin-right: 1rem;
  color: black;
}
.header .col2 .icon{
  position: absolute;
  top: 5%;
  right: 10%;
}
.header .btn button{
  margin-right: 1rem;
}

/* Mission */
.box .mission .col .box p{
  color: black;
}

/* Services */
.services .box{
  height: 20rem;
}
.services .flexServices{
  background-color: rgb(21,22,35);
  color: white;
  padding: 5%;
}
.services .flexServices p{
  margin-top: 45%;
}
.services .onDemand{
  background-image: url(./images/privatejet.png);
  background-size:100%;
  padding: .1% 5%;
  background-repeat: no-repeat;
  color: rgb(240, 239, 238);
  font-weight: 900;
}
.services .sharedFlight{
  color: white;
  background-image: url(./images/SharedFlight.png);
  padding: 5%;
  background-size: 100%;
  background-color: rgb(188,113,85);
  background-repeat: no-repeat;
}

/* Destination */
.destination .col1{
  display: none;
}
.destination .col2{
  width: 100%;
  margin: auto;
}
.destination .col2 .box{
  width: 100%;
  border-top: 1px solid rgb(155, 146, 146);
  border-bottom: 1px solid rgb(137, 134, 134);
  border-bottom-right-radius: 30px;
  margin: auto auto 1rem .3rem;
}
.destination .col2 .box h3{
  margin-bottom: 4rem;
}

/* Mobile App */
.mobileApp{
  display: block;
}
.mobileApp .col1 img{
  height: 100%;
}
.mobileApp .col2{
  color: white;
  background-color: rgb(21,22,35);
  padding: 5%;
  text-align: justify;
}

/* Experience */
.experience img{
  max-width: 5rem;
}
.experience .col2{
  margin-top: 3rem;
}
.experience .col2 .box{
  border: .5px solid rgb(241, 241, 249);
  padding: .5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

/* Slide show */
.slideShow button{
  background-color: blue;
  animation: none;
}

/* bookFlight */
.bookFlight{
  background-image: linear-gradient(
    to top, 
    rgb(148,173,199) 0%,
    rgb(183, 208, 233) 50%,
    white 100%
    );
    height: fit-content;
    text-align: center;
  }
  .bookFlight h1 :hover{
    font-size: 20pt;
    font-weight: 700;
    text-shadow: rgb(21,22,35);
    transition-duration: 500ms;
  }
  .bookFlight h4{
    transition: 2000ms;
  }

  .footer .row1{
    display: flex;
  }
  .footer .row1 .box{
    margin-right: 2rem;
  }

/* Tablet */
@media only screen and (min-width: 768px) {
  .services .flexServices p{
    margin-top: auto;
  }
  .destination .col2 .box{
    width: 30%;
    float: right;
    margin-right: .95rem;
  }
  .services .onDemand{
    background-size:100% 130%;
    color: white;
  }
  .services .sharedFlight{
    background-size: 70% 100%;
  }
  .experience .col2{
    display:flexbox;
  }
  .footer .row1 .box{
    width: 50%;
  }
  .footer .row1 .socialMedia{
    text-align: right;
  }
  .footer .row2 {
    display: flex;
    flex-direction: row;
    line-height: 170%;
  }
  .footer .row2 .box{
    margin-right: auto;
    width: 25%;
  }
}

/* Small Laptop */
@media only screen and (min-width: 1024px) {
  .header .row1{
    display: flex;
  }
  .header .col2 .links{
    display: block;
  }
  
  .services{
    display: flex;
  }
  .services .box{
    height: 30rem;
  }
  .services .flexServices p{
    margin-top: 16rem;
  }
  .services .onDemand{
    padding-top: 38%;
  }
  .services .sharedFlight{
    background-size: 100%;
    padding-top: 38%;
  }
  .destination .col1{
    display: block;
    width: 50%;
    float: left;
    margin-left: .1rem;
  }
  .destination .col2{
    width: 48%;
    float: right;
  }
  .destination .col2 .box{
    width:40%;
  }
  .mobileApp{
    clear: both;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
  }
  .mobileApp .col1, .mobileApp .col2{
    width: 50%;
    height: 30rem;
  }
  .experience .row1{
    font-size: 120pt;
  }
  .experience .row2{
    display: flex;
  }
  .experience .row2 .col1{
    width: 40%;
  }
  .experience .row2 .col2{
    width: 60%;
    display: flexbox;
  }
  .experience .row2 .col2 .box{
    width: 40%;
    margin-right: .5rem;
  }
  .bookFlight{
    height: 100vh;
    padding: auto;
    margin: 15rem auto 0;
    font-size: x-large;
  }
}

@media only screen and (min-width: 1900px) {
  body{
    margin: auto 10%;
    border: .5px solid rgb(236, 234, 234);
  }

}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  .body, .header, .mission, .destination, .experience, .footer, .slideShow{
    background-color: black;
    color: white;
  }
  .body .services .onDemand{
    color: white;
    background-image:inherit;
    height: fit-content;
  }
  .body .services .onDemand p{
    color: white;
    background-image:inherit;
  }
  .body .services .sharedFlight{
    background-color: rgb(31, 13, 13);
    color: white;
  }
  .experience .col2 .box{
    background-color: black;
    color: white;
  }
  .experience .col2 .box img{
    background-color: white;
    border-radius: 1px 1px 30px 1px ;
  }
  .bookFlight{
    background-image:unset;
    background-color: black;
    
  }
}