html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: MuseoModerno;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Images */
img{
  width: 100%;
}

/* Links */
a{
  text-decoration: none;
  color: rgb(51, 47, 47);
}

/* Animations */
@keyframes changingColors {
  0%   {background-color: rgb(210, 73, 73);}
  25%  {background-color: rgb(234, 235, 249);}
  50%  {background-color: rgb(72, 72, 220);}
  100% {background-color: rgb(236, 193, 93);}
}
@keyframes textDrop {
  0%   {margin-top: -6rem;}
  25%  {margin-top: -4rem;}
  50%  {margin-top: -2rem;}
  75%  {margin-top: 0rem;}
  100% {margin-top: auto;}
}


/* App */
.app{
  overflow-x: hidden;
}

  